In [1]:
import numpy as np
import pandas as pd

# Question 1

## Overall Workforce Change

In [2]:
df = pd.read_excel('overall_workforce_change.xlsx',
                  header=None)
headers = ['Year','Civilian noninstitutional population','Civilian labor force_Total','Civilian labor force_Percent of population',
          'Civilian labor force_Employed_Total','Civilian labor force_Employed_Percent of population','Civilian labor force_Employed_Agriculture',
          'Civilian labor force_Emloyed_Nonagriculture','Civilian labor force_Unemployed_Number','Civilian labor force_Unemployed_Percent of labor force',
          'Not in labor force']
df.columns=headers

In [3]:
#Since the NaN is caused by the format of formal excel, drop the NaN would be appropriate
df=df.dropna()

In [4]:
df.isna().sum().sum()

0

In [5]:
df.to_excel('clean_data/overall_workforce_change.xlsx',
           index=False)

## Men_vs_Women_over_20_years

In [6]:
df = pd.read_excel('question_01/men_vs_women_over20years.xlsx',
                  header=None)

In [7]:
headers = ['Year','Civilian_noninstitutional_population','Civilian_labor_force_Total','Civilian_labor_force_Percent_of_population',
          'Civilian_labor_force_Employed_Total','Civilian_labor_force_Employed_Percent_of_population','Civilian_labor_force_Employed_Agriculture',
          'Civilian_labor_force_Employed_Nonagricultural_industries','Civilian_labor_force_Unemployed_Number','Civilian_labor_force_Unemployed_Percent_of_labor_force','Not_in_labor_force']

In [8]:
df.columns=headers

In [9]:
df.loc[8:49,'Group']='Men'
df.loc[51:92,'Group']='Women'

In [10]:
df=df.dropna()

In [11]:
if df.isna().sum().sum()==0:
    df.to_excel('clean_data/question_01/men_vs_women_over_20_years.xlsx',index=False)

## occupation_sex_race detailed

In [12]:
#define the function here to do the reproducible data cleaning since these files have the same pattern
def occupation_sex_race_detailed(yy):
    df=pd.read_excel('question_01/occupation_sex_race/detailed/'+str(yy)+'.xlsx')
    #since these files have the same pattern for headers, we would deal with all of them
    if df.shape[1]==6:
        headers = ['Occupation','Total Employed','Percent of total employed_women',
               'Percent of total employed_Black or African American','Percent of total employed_Asian',
               'Percent of total employed_Hispanic or Latino']
    if df.shape[1]==7:
        headers = ['Occupation','Total Employed','Percent of total employed_women','Percent of total employed_White',
               'Percent of total employed_Black or African American','Percent of total employed_Asian',
               'Percent of total employed_Hispanic or Latino']
    df.columns=headers
    
    #The pattern is the values for missing in these files
    mm=pd.read_excel('question_01/occupation_sex_race/detailed/2016.xlsx')
    pattern=mm.iloc[574,2]
    
    #Since the table includes the summary and below are the embranchments
    #To make further analysis easier, set anaother columns for the groups
    #Since summing up the embranchments would be the summary, we would set NA for the summary row in order 
    #to clean them in the furture
    gnp=[12,43,73,90,112,136,145,151,163,183,219,231,250,264,271,294,313,368,378,419,459,541]
    #assign the group info to each rows
    for i in range(12,42):
        df.loc[i,'Group']=df.iloc[gnp[0]-1,0]
    for i in range(43,71):
        df.loc[i,'Group']=df.iloc[gnp[1]-1,0]
    for i in range(73,89):
        df.loc[i,'Group']=df.iloc[gnp[2]-1,0]
    for i in range(90,111):
        df.loc[i,'Group']=df.iloc[gnp[3]-1,0]
    for i in range(112,135):
        df.loc[i,'Group']=df.iloc[gnp[4]-1,0]
    for i in range(136,144):
        df.loc[i,'Group']=df.iloc[gnp[5]-1,0]
    for i in range(145,150):
        df.loc[i,'Group']=df.iloc[gnp[6]-1,0]
    for i in range(151,162):
        df.loc[i,'Group']=df.iloc[gnp[7]-1,0]
    for i in range(163,182):
        df.loc[i,'Group']=df.iloc[gnp[8]-1,0]
    for i in range(183,216):
        df.loc[i,'Group']=df.iloc[gnp[9]-1,0]
    for i in range(219,230):
        df.loc[i,'Group']=df.iloc[gnp[10]-1,0]
    for i in range(231,249):
        df.loc[i,'Group']=df.iloc[gnp[11]-1,0]
    for i in range(250,263):
        df.loc[i,'Group']=df.iloc[gnp[12]-1,0]
    for i in range(264,270):
        df.loc[i,'Group']=df.iloc[gnp[13]-1,0]
    for i in range(271,291):
        df.loc[i,'Group']=df.iloc[gnp[14]-1,0]
    for i in range(294,312):
        df.loc[i,'Group']=df.iloc[gnp[15]-1,0]
    for i in range(313,365):
        df.loc[i,'Group']=df.iloc[gnp[16]-1,0]
    for i in range(368,377):
        df.loc[i,'Group']=df.iloc[gnp[17]-1,0]
    for i in range(378,418):
        df.loc[i,'Group']=df.iloc[gnp[18]-1,0]
    for i in range(419,456):
        df.loc[i,'Group']=df.iloc[gnp[19]-1,0]
    for i in range(459,540):
        df.loc[i,'Group']=df.iloc[gnp[20]-1,0]
    for i in range(541,577):
        df.loc[i,'Group']=df.iloc[gnp[21]-1,0]
        
    #Besides, since these files contain NaN values for some rows, after looking through the data, we could not fill
    #the NaN values with other values since the race options are mostly White, Black or Africa American, Asian and Hispanic or Latino
    #It's impossible for many industries have none of them
    #Thus, these are very likely unrecorded and drop these rows would be apporiate
    
    #Drop the missing values in the title
    df = df.dropna()
    
    #For the actual missing values, move to the missing part for analyzing the missing patterns
    df.to_excel('missing_data/question_01/occupation_sex_race/detailed/'+str(yy)+'.xlsx',index=False)
    
    
    #Since we care about the detailed information, for those which has '-' in the row
    #Drop those rows would be more appriate since it is useless for analysis
    for i in headers:
        df.drop(df.index[df[i]==pattern],inplace=True)
    
    
    #test if all has been cleaned
    if df.isna().sum().sum()==0:
        df.to_excel('clean_data/question_01/occupation_sex_race/detailed/'+str(yy)+'.xlsx',index=False)

In [13]:
year = ['2016','2017','2018','2019','2020']
for i in year:
    occupation_sex_race_detailed(i)

## occupation_sex_race/ Percentage

In [14]:
#import all data
df1617 = pd.read_excel('question_01/occupation_sex_race/general_compare/2016-2017.xlsx',
                     header=None)
df1718 = pd.read_excel('question_01/occupation_sex_race/general_compare/2017-2018.xlsx',
                     header=None)
df1819 = pd.read_excel('question_01/occupation_sex_race/general_compare/2018-2019.xlsx',
                     header=None)
df1920 = pd.read_excel('question_01/occupation_sex_race/general_compare/2019-2020.xlsx',
                     header=None)

In [15]:
#import data for the Total
df_total = pd.DataFrame()
df_total['Occupation'] = df1617.iloc[6:23,0]

df_total['Total_2016'] = df1617.iloc[6:23,1]
df_total['Total_2017'] = df1617.iloc[6:23,2]
df_total['Total_2018'] = df1718.iloc[6:23,2]
df_total['Total_2019'] = df1819.iloc[6:23,2]
df_total['Total_2020'] = df1920.iloc[6:23,2]

df_total['Men_2016'] = df1617.iloc[6:23,3]
df_total['Men_2017'] = df1617.iloc[6:23,4]
df_total['Men_2018'] = df1718.iloc[6:23,4]
df_total['Men_2019'] = df1819.iloc[6:23,4]
df_total['Men_2020'] = df1920.iloc[6:23,4]

df_total['Women_2016'] = df1617.iloc[6:23,5]
df_total['Women_2017'] = df1617.iloc[6:23,6]
df_total['Women_2018'] = df1718.iloc[6:23,6]
df_total['Women_2019'] = df1819.iloc[6:23,6]
df_total['Women_2020'] = df1920.iloc[6:23,6]

In [16]:
df_total.loc[10:11,'Group']='Management, professional, and related occupations'
df_total.loc[12,'Group'] = 'Service occupations'
df_total.loc[14:15,'Group'] = 'Sales and office occupations'
df_total.loc[17:19,'Group'] = 'Natural resources, construction, and maintenance occupations'
df_total.loc[21:22,'Group'] = 'Production, transportation, and material moving occupations'

In [17]:
#Since we only care about the smallest branches thus we would drop thus having nan values
#which contains the branch's name and non-percent values and the summary lines
df_total = df_total.dropna()

In [18]:
df_total.to_excel('clean_data/question_01/occupation_sex_race/percentage_view/total.xlsx',
                 index=False)

In [19]:
#Import data for the White
df_white = pd.DataFrame()
df_white['Occupation'] = df1617.iloc[24:41,0]

df_white['Total_2016'] = df1617.iloc[24:41,1]
df_white['Total_2017'] = df1617.iloc[24:41,2]
df_white['Total_2018'] = df1718.iloc[24:41,2]
df_white['Total_2019'] = df1819.iloc[24:41,2]
df_white['Total_2020'] = df1920.iloc[24:41,2]

df_white['Men_2016'] = df1617.iloc[24:41,3]
df_white['Men_2017'] = df1617.iloc[24:41,4]
df_white['Men_2018'] = df1718.iloc[24:41,4]
df_white['Men_2019'] = df1819.iloc[24:41,4]
df_white['Men_2020'] = df1920.iloc[24:41,4]

df_white['Women_2016'] = df1617.iloc[24:41,5]
df_white['Women_2017'] = df1617.iloc[24:41,6]
df_white['Women_2018'] = df1718.iloc[24:41,6]
df_white['Women_2019'] = df1819.iloc[24:41,6]
df_white['Women_2020'] = df1920.iloc[24:41,6]

In [20]:
df_white.loc[28:29,'Group']='Management, professional, and related occupations'
df_white.loc[30,'Group'] = 'Service occupations'
df_white.loc[32:33,'Group'] = 'Sales and office occupations'
df_white.loc[35:37,'Group'] = 'Natural resources, construction, and maintenance occupations'
df_white.loc[39:40,'Group'] = 'Production, transportation, and material moving occupations'

In [21]:
df_white = df_white.dropna()

In [22]:
df_white.to_excel('clean_data/question_01/occupation_sex_race/percentage_view/white.xlsx',index=False)

In [23]:
#Import data for the Black
df_black = pd.DataFrame()
df_black['Occupation'] = df1617.iloc[42:59,0]

df_black['Total_2016'] = df1617.iloc[42:59,1]
df_black['Total_2017'] = df1617.iloc[42:59,2]
df_black['Total_2018'] = df1718.iloc[42:59,2]
df_black['Total_2019'] = df1819.iloc[42:59,2]
df_black['Total_2020'] = df1920.iloc[42:59,2]

df_black['Men_2016'] = df1617.iloc[42:59,3]
df_black['Men_2017'] = df1617.iloc[42:59,4]
df_black['Men_2018'] = df1718.iloc[42:59,4]
df_black['Men_2019'] = df1819.iloc[42:59,4]
df_black['Men_2020'] = df1920.iloc[42:59,4]

df_black['Women_2016'] = df1617.iloc[42:59,5]
df_black['Women_2017'] = df1617.iloc[42:59,6]
df_black['Women_2018'] = df1718.iloc[42:59,6]
df_black['Women_2019'] = df1819.iloc[42:59,6]
df_black['Women_2020'] = df1920.iloc[42:59,6]

In [24]:
df_black.loc[46:47,'Group']='Management, professional, and related occupations'
df_black.loc[48,'Group'] = 'Service occupations'
df_black.loc[50:51,'Group'] = 'Sales and office occupations'
df_black.loc[53:55,'Group'] = 'Natural resources, construction, and maintenance occupations'
df_black.loc[57:58,'Group'] = 'Production, transportation, and material moving occupations'

In [25]:
df_black = df_black.dropna()

In [26]:
df_black.to_excel('clean_data/question_01/occupation_sex_race/percentage_view/black.xlsx',index=False)

In [27]:
#Import data for the Asian
df_asian = pd.DataFrame()
df_asian['Occupation'] = df1617.iloc[60:77,0]

df_asian['Total_2016'] = df1617.iloc[60:77,1]
df_asian['Total_2017'] = df1617.iloc[60:77,2]
df_asian['Total_2018'] = df1718.iloc[60:77,2]
df_asian['Total_2019'] = df1819.iloc[60:77,2]
df_asian['Total_2020'] = df1920.iloc[60:77,2]

df_asian['Men_2016'] = df1617.iloc[60:77,3]
df_asian['Men_2017'] = df1617.iloc[60:77,4]
df_asian['Men_2018'] = df1718.iloc[60:77,4]
df_asian['Men_2019'] = df1819.iloc[60:77,4]
df_asian['Men_2020'] = df1920.iloc[60:77,4]

df_asian['Women_2016'] = df1617.iloc[60:77,5]
df_asian['Women_2017'] = df1617.iloc[60:77,6]
df_asian['Women_2018'] = df1718.iloc[60:77,6]
df_asian['Women_2019'] = df1819.iloc[60:77,6]
df_asian['Women_2020'] = df1920.iloc[60:77,6]

In [28]:
df_asian.loc[64:65,'Group']='Management, professional, and related occupations'
df_asian.loc[66,'Group'] = 'Service occupations'
df_asian.loc[68:69,'Group'] = 'Sales and office occupations'
df_asian.loc[71:73,'Group'] = 'Natural resources, construction, and maintenance occupations'
df_asian.loc[75:76,'Group'] = 'Production, transportation, and material moving occupations'

In [29]:
df_asain = df_asian.dropna()

In [30]:
df_asian.to_excel('clean_data/question_01/occupation_sex_race/percentage_view/asian.xlsx',index=False)

In [31]:
#Import data for the Hispanic or Latino
df_his = pd.DataFrame()
df_his['Occupation'] = df1617.iloc[78:95,0]

df_his['Total_2016'] = df1617.iloc[78:95,1]
df_his['Total_2017'] = df1617.iloc[78:95,2]
df_his['Total_2018'] = df1718.iloc[78:95,2]
df_his['Total_2019'] = df1819.iloc[78:95,2]
df_his['Total_2020'] = df1920.iloc[78:95,2]

df_his['Men_2016'] = df1617.iloc[78:95,3]
df_his['Men_2017'] = df1617.iloc[78:95,4]
df_his['Men_2018'] = df1718.iloc[78:95,4]
df_his['Men_2019'] = df1819.iloc[78:95,4]
df_his['Men_2020'] = df1920.iloc[78:95,4]

df_his['Women_2016'] = df1617.iloc[78:95,5]
df_his['Women_2017'] = df1617.iloc[78:95,6]
df_his['Women_2018'] = df1718.iloc[78:95,6]
df_his['Women_2019'] = df1819.iloc[78:95,6]
df_his['Women_2020'] = df1920.iloc[78:95,6]

In [32]:
df_his.loc[82:83,'Group']='Management, professional, and related occupations'
df_his.loc[84,'Group'] = 'Service occupations'
df_his.loc[86:87,'Group'] = 'Sales and office occupations'
df_his.loc[89:91,'Group'] = 'Natural resources, construction, and maintenance occupations'
df_his.loc[93:94,'Group'] = 'Production, transportation, and material moving occupations'

In [33]:
df_his = df_his.dropna()

In [34]:
df_his.to_excel('clean_data/question_01/occupation_sex_race/percentage_view/his_or_lati.xlsx',index=False)

## Sex Race Age

In [35]:
def sex_race_age(yy):
    df = pd.read_excel('question_01/sex_race_age/'+str(yy)+'.xlsx',
                  header=None)
    #All of these files have the same number of columns
    headers=['Age, sex, and race','Civilian noninstitutional population','Civilian labor force_Total',
        'Civilian labor force_Percent of population','Civilian labor force_Employed_Total',
        'Civilian labor force_Employed_Percent of population','Civilian labor force_Unemployed_Number',
        'Civilian labor force_Unemployed_Percent of labor','Not in labor force']
    df.columns=headers
    #The Total Group
    for i in range(10,31):
        df.loc[i,'Group']= 'Total'
        df.loc[i,'Sex']= 'Union'
    for i in range(33,54):
        df.loc[i,'Group']= 'Total'
        df.loc[i,'Sex']='Men'
    for i in range(56,77):
        df.loc[i,'Group']= 'Total'
        df.loc[i,'Sex']='Women'
    
    #The White Group
    for i in range(80,101):
        df.loc[i,'Sex']='Union'
        df.loc[i,'Group']='White'
    for i in range(104-1,124):
        df.loc[i,'Sex']='Men'
        df.loc[i,'Group']='White'
    for i in range(127-1,147):
        df.loc[i,'Sex']='Women'
        df.loc[i,'Group']='White'
    
    #The Black or Africa American Group
    for i in range(151-1,171):
        df.loc[i,'Group']='Black or Africa American'
        df.loc[i,'Sex']='Union'
    for i in range(174-1,194):
        df.loc[i,'Group']='Black or Africa American'
        df.loc[i,'Sex']='Men'
    for i in range(197-1,217):
        df.loc[i,'Group']='Black or Africa American'
        df.loc[i,'Sex']='Women'
    
    #The Asian Group
    for i in range(221-1,241):
        df.loc[i,'Group']='Asian'
        df.loc[i,'Sex']='Union'
    for i in range(244-1,264):
        df.loc[i,'Group']='Asian'
        df.loc[i,'Sex']='Men'
    for i in range(266-1,287):
        df.loc[i,'Group']='Asian'
        df.loc[i,'Sex']="Women"
    
    #Since looking thourgh the data, if the value is missing it would '-' instead of NaN
    #Thus the rows containing NaN should be disregared
    df=df.dropna()
    
    #For the actual missing values, move them to the missing folder for missing pattern analysis
    df.to_excel('missing_data/question_01/sex_race_age/'+str(yy)+'.xlsx',index=None)
    
    #Deal with the files having the '-' which is not calculated in the original data set
    rows=[]
    cols=[]
    for i in range(0,df.shape[0]):
        for m in range(0,df.iloc[i].size):
            if df.iloc[i,m]=='–':
                cols.append(m)
                rows.append(i)
    #Take a look at the dataset, the only columns havig the '-' is in the percent of unemployed which could be 
    #calculated by number of unemployed divided by total civilian labor force
    #if it has '-' then calculating the percent and fill the value 
    if len(rows)!=0:
        for i in range(0,len(rows)):
            df.iloc[rows[i],cols[i]]=round((df.iloc[rows[i],cols[i]-1]/df.iloc[rows[i],2])*100,1)
    
    #checking is there is no missing values. if there is no missing value then output the dataset
    if df.isna().sum().sum()==0:
        df.to_excel('clean_data/question_01/sex_race_age/'+str(yy)+'.xlsx',index=False)

In [36]:
for i in year:
    sex_race_age(i)

# Question 02

## overall_unemployement_sex_occupation_total

In [37]:
df1617 = pd.read_excel('question_02/Unemployed_sex_occupation/2016-2017.xlsx',
                      header=None)
df1718 = pd.read_excel('question_02/Unemployed_sex_occupation/2017-2018.xlsx',
                      header=None)
df1819 = pd.read_excel('question_02/Unemployed_sex_occupation/2018-2019.xlsx',
                      header=None)
df1920 = pd.read_excel('question_02/Unemployed_sex_occupation/2019-2020.xlsx',
                      header=None)

In [38]:
#Since these files all have 2 parts, first is unemployed number and the second is unemloyment rate
#Thus divide these into 2 parts and combine them and output the two new files
#part 1
df1 = pd.DataFrame()
df1['Occupation']=df1617.iloc[:,0]
df1['2016'] = df1617.iloc[:,1]
df1['2017'] = df1617.iloc[:,2]
df1['2018'] = df1718.iloc[:,2]
df1['2019'] = df1819.iloc[:,2]
df1['2020'] = df1920.iloc[:,2]

#part 2
df2 = pd.DataFrame()
df2['Occupation']=df1617.iloc[:,0]
df2['2016_Total'] = df1617.iloc[:,3]
df2['2017_Total'] = df1617.iloc[:,4]
df2['2018_Total'] = df1718.iloc[:,4]
df2['2019_Total'] = df1819.iloc[:,4]
df2['2020_Total'] = df1920.iloc[:,4]

df2['2016_Men'] = df1617.iloc[:,5]
df2['2017_Men'] = df1617.iloc[:,6]
df2['2018_Men'] = df1718.iloc[:,6]
df2['2019_Men'] = df1819.iloc[:,6]
df2['2020_Men'] = df1920.iloc[:,6]

df2['2016_Women'] = df1617.iloc[:,7]
df2['2017_Women'] = df1617.iloc[:,8]
df2['2018_Women'] = df1718.iloc[:,8]
df2['2019_Women'] = df1819.iloc[:,8]
df2['2020_Women'] = df1920.iloc[:,8]

In [39]:
#Assign the groups info to each row
#Since in the Occupation columns, some occupation has been divided in to several other jobs, the branchs
#Thus, only care about the small parts would be enough
for i in range(11,13):
    df1.loc[i,'Group']=df1.iloc[10,0]
    df2.loc[i,'Group']=df2.iloc[10,0]
for i in range(14,22):
    df1.loc[i,'Group']=df1.iloc[13,0]
    df2.loc[i,'Group']=df2.iloc[13,0]
for i in range(24,29):
    df1.loc[i,'Group']=df1.iloc[23,0]
    df2.loc[i,'Group']=df2.iloc[23,0]
for i in range(31,33):
    df1.loc[i,'Group']=df1.iloc[30,0]
    df2.loc[i,'Group']=df2.iloc[30,0]
for i in range(35,38):
    df1.loc[i,'Group']=df1.iloc[34,0]
    df2.loc[i,'Group']=df2.iloc[34,0]
for i in range(40,42):
    df1.loc[i,'Group']=df1.iloc[39,0]
    df2.loc[i,'Group']=df2.iloc[39,0]
for i in range(44,47):
    df1.loc[i,'Group']=df1.iloc[43,0]
    df2.loc[i,'Group']=df2.iloc[43,0]

In [40]:
df1=df1.dropna()

In [41]:
df1.isna().sum().sum()
#Ready to output

0

In [42]:
df2 = df2.dropna()

In [43]:
#Move the actual missing value to the missing_data folder for further analysis
df2.to_excel('missing_data/question_02/Unemployemnt_rate(sex_occupation).xlsx',index=None)

In [44]:
#Since we only deal with the occupation and sex, we do not care about age
#Then drop the rows having ages would be appropriate
df1 = df1.iloc[0:-3]
df2 = df2.iloc[0:-3]

In [45]:
#save the files
df1.to_excel('clean_data/question_02/Total_unemployed_number.xlsx',
          index=False)
df2.to_excel('clean_data/question_02/Unemployment_rate(sex_occupation).xlsx',
            index=False)

# Question 03

In [46]:
df16 = pd.read_excel('question_03/certification_and_license/2016.xlsx',
                    header=None)
df17 = pd.read_excel('question_03/certification_and_license/2017.xlsx',
                    header=None)
df18 = pd.read_excel('question_03/certification_and_license/2018.xlsx',
                    header=None)
df19 = pd.read_excel('question_03/certification_and_license/2019.xlsx',
                    header=None)
df20 = pd.read_excel('question_03/certification_and_license/2020.xlsx',
                    header=None)

In [47]:
#Looking through the data, in each file, the data could be divided in to 2 parts
#The above part is for industry
#The below part is for the worker's kind
df31 = pd.DataFrame()
df32 = pd.DataFrame()

In [48]:
#construct the first part
df31['Industry'] = df16.iloc[10:25,0]

df31['2016_Total_Employed']=df16.iloc[10:25,1]
df31['2017_Total_Employed']=df17.iloc[10:25,1]
df31['2018_Total_Employed']=df18.iloc[10:25,1]
df31['2019_Total_Employed']=df19.iloc[10:25,1]
df31['2020_Total_Employed']=df20.iloc[10:25,1]

df31['2016_with_a_certificate/license_total_percent']=df16.iloc[10:25,3]
df31['2017_with_a_certificate/license_total_percent']=df17.iloc[10:25,3]
df31['2018_with_a_certificate/license_total_percent']=df18.iloc[10:25,3]
df31['2019_with_a_certificate/license_total_percent']=df19.iloc[10:25,3]
df31['2020_with_a_certificate/license_total_percent']=df20.iloc[10:25,3]

df31['2016_with_a_certificate_no_license_percent']=df16.iloc[10:25,4]
df31['2017_with_a_certificate_no_license_percent']=df17.iloc[10:25,4]
df31['2018_with_a_certificate_no_license_percent']=df18.iloc[10:25,4]
df31['2019_with_a_certificate_no_license_percent']=df19.iloc[10:25,4]
df31['2020_with_a_certificate_no_license_percent']=df20.iloc[10:25,4]

df31['2016_with_a_license']=df16.iloc[10:25,5]
df31['2017_with_a_license']=df17.iloc[10:25,5]
df31['2018_with_a_license']=df18.iloc[10:25,5]
df31['2019_with_a_license']=df19.iloc[10:25,5]
df31['2020_with_a_license']=df20.iloc[10:25,5]

df31['2016_without_a_license_percent']=df16.iloc[10:25,6]
df31['2017_without_a_license_percent']=df17.iloc[10:25,6]
df31['2018_without_a_license_percent']=df18.iloc[10:25,6]
df31['2019_without_a_license_percent']=df19.iloc[10:25,6]
df31['2020_without_a_license_percent']=df20.iloc[10:25,6]

In [49]:
df31.loc[10,'Group']=df31.iloc[0,0]
for i in range(12,25):
    df31.loc[i,'Group']=df31.iloc[1,0]

In [50]:
df31=df31.dropna()

In [51]:
df31.to_excel('clean_data/question_03/industry_license_or_certificate.xlsx',
             index=False)

In [52]:
#Part 2
df32['Workers_category']=df16.iloc[28:34,0]

df32['2016_Total_Employed']=df16.iloc[28:34,1]
df32['2017_Total_Employed']=df17.iloc[28:34,1]
df32['2018_Total_Employed']=df18.iloc[28:34,1]
df32['2019_Total_Employed']=df19.iloc[28:34,1]
df32['2020_Total_Employed']=df20.iloc[28:34,1]

df32['2016_with_a_certificate/license_total_percent']=df16.iloc[28:34,3]
df32['2017_with_a_certificate/license_total_percent']=df17.iloc[28:34,3]
df32['2018_with_a_certificate/license_total_percent']=df18.iloc[28:34,3]
df32['2019_with_a_certificate/license_total_percent']=df19.iloc[28:34,3]
df32['2020_with_a_certificate/license_total_percent']=df20.iloc[28:34,3]

df32['2016_with_a_certificate_no_license_percent']=df16.iloc[28:34,4]
df32['2017_with_a_certificate_no_license_percent']=df17.iloc[28:34,4]
df32['2018_with_a_certificate_no_license_percent']=df18.iloc[28:34,4]
df32['2019_with_a_certificate_no_license_percent']=df19.iloc[28:34,4]
df32['2020_with_a_certificate_no_license_percent']=df20.iloc[28:34,4]

df32['2016_with_a_license']=df16.iloc[28:34,5]
df32['2017_with_a_license']=df17.iloc[28:34,5]
df32['2018_with_a_license']=df18.iloc[28:34,5]
df32['2019_with_a_license']=df19.iloc[28:34,5]
df32['2020_with_a_license']=df20.iloc[28:34,5]

df32['2016_without_a_license_percent']=df16.iloc[28:34,6]
df32['2017_without_a_license_percent']=df17.iloc[28:34,6]
df32['2018_without_a_license_percent']=df18.iloc[28:34,6]
df32['2019_without_a_license_percent']=df19.iloc[28:34,6]
df32['2020_without_a_license_percent']=df20.iloc[28:34,6]

In [53]:
df32.loc[28,'Group']=df16.iloc[28,0]
for i in range(30,33):
    df32.loc[i,'Group']=df16.iloc[29,0]
df32.loc[33,'Group']=df16.iloc[33,0]

In [54]:
df32 = df32.dropna()

In [55]:
df32.to_excel('clean_data/question_03/wokers_category_license_or_certificate.xlsx',
             index=False)